[submodule "maverick_mcp/prometheus-mcp"]
	path = maverick_mcp/prometheus-mcp
	url = git@github.com:idanfishman/prometheus-mcp.git
[submodule "maverick_mcp/loki-mcp"]
	path = maverick_mcp/loki-mcp
	url = git@github.com:grafana/loki-mcp.git
[submodule "maverick_mcp/splunk-mcp"]
	path = maverick_mcp/splunk-mcp
	url = git@github.com:livehybrid/splunk-mcp.git
[submodule "maverick_mcp/mcp-server-mysql"]
	path = maverick_mcp/mcp-server-mysql
	url = git@github.com:benborla/mcp-server-mysql.git
[submodule "maverick_mcp/postgres-mcp"]
	path = maverick_mcp/postgres-mcp
	url = git@github.com:crystaldba/postgres-mcp.git
[submodule "maverick_mcp/mcp-neo4j"]
	path = maverick_mcp/mcp-neo4j
	url = git@github.com:neo4j-contrib/mcp-neo4j.git
[submodule "maverick_mcp/mcp-redis"]
	path = maverick_mcp/mcp-redis
	url = git@github.com:redis/mcp-redis.git
[submodule "sandbox/train-ticket"]
	path = sandbox/train-ticket
	url = git@github.com:FudanSELab/train-ticket.git
[submodule "sandbox/beer-service-sandbox"]
	path = sandbox/beer-service-sandbox
	url = git@github.com:sathish316/beer-service-sandbox.git
