version: '3.3'
services:
  chroma:
    image: chromadb/chroma:latest
    container_name: codd_chroma
    ports:
      - "8000:8000"
    volumes:
      - chroma-data:/chroma-data # Mount a named volume for data persistence
    restart: unless-stopped

  chromadb-admin:
    image: fengzhichao/chromadb-admin:latest
    container_name: codd_chromadb-admin
    ports:
      - "3001:3001"
    restart: unless-stopped

  redis:
      image: redis/redis-stack-server:latest
      container_name: codd_redis
      command: ["redis-stack-server", "--port", "6380"]
      ports:
        - "6380:6380"
      volumes:
        - ./redis-data:/data

  # qdrant:
  #   image: qdrant/qdrant:latest
  #   container_name: codd_qdrant
  #   ports:
  #     - "6333:6333" # HTTP API & Dashboard
  #     - "6334:6334" # gRPC API
  #   volumes:
  #     - ./qdrant-data:/qdrant/storage
  #   restart: unless-stopped

volumes:
  chroma-data:
  redis-data:
  # qdrant-data:
