<p style="color: green"><%= notice %></p>

<h1>Flows</h1>

<div id="flows">
  <% @flows.each do |flow| %>
    <%= render flow %>
    <p>
      <%= link_to "Show this flow", [@app, flow] %>
    </p>
  <% end %>
</div>

<%= link_to "New flow", new_app_flow_path %>
